AVEC_ENVOI_COOKIE_SUR_HTTP= #autorise envoi du cookie de session par HTTP avec valeur true
AVEC_REQUETE_PIECE_JUSTIFICATIVE= #active l'API /requete/pieceJustificative avec valeur true

DELAI_MAX_ATTENTE_DOMIBUS= # délai maximum d'attente d'une réponse Domibus à une requête envoyée (en millisecondes)
IDENTIFIANT_EXPEDITEUR_DOMIBUS= # identifiant expéditeur Domibus
SUFFIXE_IDENTIFIANTS_DOMIBUS= # suffixe à ajouter dans les trames EBMS, ex. oots.eu
TYPE_IDENTIFIANT_EXPEDITEUR_DOMIBUS= # type d'identifiant expéditeur Domibus
URL_BASE_DOMIBUS= # URL instance Domibus, ex. https://domibus.gouv.fr

IDENTIFIANT_CLIENT_FCPLUS= # identifiant d'accès au serveur FC+
SECRET_CLIENT_FCPLUS= # secret d'accès au serveur FC+
URL_CONFIGURATION_OPEN_ID_FCPLUS= # URL accès aux informations de configuration Open ID de FranceConnect+

CLE_PRIVEE_JWK_EN_BASE64= # Cle privée utilisée pour déchiffrer les infos utilisateur provenant de eIDAS (données au format JWK, chiffrées en base64)
SECRET_JETON_SESSION= # secret utilisé pour chiffrer et déchiffrer le jeton stocké dans le cookie de session
URL_OOTS_FRANCE= # URL Serveur OOTS-France, ex. https://oots.gouv.fr
URL_REDIRECTION_CONNEXION= # URL redirection après authentification FranceConnect+

LOGIN_API_REST= # Login utilisé pour accéder à l'API REST de DOMIBUS
MOT_DE_PASSE_API_REST= # Mot de passe utilisé pour accéder à l'API REST de DOMIBUS
