# Contrat et valeurs d'un poste de développement, comme .env.template, dont
# l'entête dit ce que cela recouvre.
#
# configuration MySQL
MYSQL_ROOT_PASSWORD=root_ci # Mot de passe pour accéder à la base de données Domibus en tant que `root`
MYSQL_DATABASE=domibus # Nom de la base de données Domibus
MYSQL_USER=domibus # Login utilisé par Domibus pour se connecter à la base de données
MYSQL_PASSWORD=domibus_ci # Mot de passe utilisé par Domibus pour se connecter à la base de données

# configuration Domibus
DB_USER=domibus # Login utilisé par Domibus pour se connecter à la base de données (doit être le même que $MYSQL_USER)
DB_PASS=domibus_ci # Mot de passe utilisé par Domibus pour se connecter à la base de données (doit être le même que $MYSQL_PASSWORD)
